<!-- Footer -->
<footer class="p-8 bg-gray-100 md:p-8 lg:p-10 dark:bg-gray-800">
	<div class="mx-auto max-w-screen-xl text-center">
		<a aria-current="page" href="{{ path('app_home') }}" class="router-link-active router-link-exact-active flex justify-center items-center text-2xl font-semibold text-gray-900 hover:text-gray-600 dark:text-white dark:hover:text-gray-300">
                <svg class="w-8 h-8 text-blue-600" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M11.3 1.046a.75.75 0 011.184.84L10.387 8h4.863a.75.75 0 01.612 1.188l-7 10a.75.75 0 01-1.364-.553L9.613 12H4.75a.75.75 0 01-.612-1.188l7-10a.75.75 0 01.162-.189z" clip-rule="evenodd"></path>
                </svg>
			QuickEsti
		</a>
		<p class="my-6 text-gray-500 dark:text-gray-400">© 2025 QuickEsti – Estimation de projet web.</p>
		<ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
			<li>
				<a aria-current="page" href="{{ path('app_home') }}" class="router-link-active router-link-exact-active mr-4 hover:underline md:mr-6">Accueil</a>
			</li>
			<li>
				<a href="{{ path('app_estimation') }}" class="mr-4 hover:underline md:mr-6">Estimation</a>
			</li>
			<li>
				<a href="/#features" class="mr-4 hover:underline md:mr-6">Fonctionnalités</a>
			</li>
			<li>
				<a href="/#features" class="router-link-active router-link-exact-active mr-4 hover:underline md:mr-6">Faq</a>
			</li>
			<li>
				<a href="{{ path('app_blog') }}" class="mr-4 hover:underline md:mr-6">Blog</a>
			</li>
			<li>
				<a href="{{ path('app_home') }}" class="mr-4 hover:underline md:mr-6">Politique de confidentialité</a>
			</li>
		</ul>
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025
			<a class="hover:underline">QuickEsti™</a>.
			<br>
			<br>
			Site web réalisé avec 💖 par
			<a href="https://jeremiecode.fr">SnapCode™ Agency</a>
			• All Rights Reserved.
		</span>
	</div>
</footer>
