<!-- Footer -->
<footer class="p-8 bg-gray-100 md:p-8 lg:p-10 dark:bg-gray-800">
	<div class="mx-auto max-w-screen-xl text-center">
		<a aria-current="page" href="{{ path('app_home') }}" class="router-link-active router-link-exact-active flex justify-center items-center text-2xl font-semibold text-gray-900 hover:text-gray-600 dark:text-white dark:hover:text-gray-300">
			🔮 <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Stellara</span>
		</a>
		<p class="my-6 text-gray-500 dark:text-gray-400">© 2025 Stellara – Application d'hosroscope &amp; d'analyse comportementale.</p>
		<ul class="flex flex-wrap justify-center items-center mb-6 text-gray-900 dark:text-white">
			<li>
				<a aria-current="page" href="{{ path('app_home') }}" class="router-link-active router-link-exact-active mr-4 hover:underline md:mr-6">Accueil</a>
			</li>
			<li>
				{% if app.user %}
				<a href="{{ path('user_horoscope_today') }}" class="mr-4 hover:underline md:mr-6">Mon Horoscope</a>
				{% else %}
				<a href="{{ path('app_register') }}" class="mr-4 hover:underline md:mr-6">Essayer</a>
				{% endif %}
			</li>
			<li>
				<a href="/#features" class="mr-4 hover:underline md:mr-6">Fonctionnalités</a>
			</li>
			<li>
				<a href="/#faq" class="router-link-active router-link-exact-active mr-4 hover:underline md:mr-6">Faq</a>
			</li>
			<li>
				<a href="{{ path('app_blog') }}" class="mr-4 hover:underline md:mr-6">Blog</a>
			</li>
			<li>
				<a href="{{ path('app_privacy_policy') }}" class="mr-4 hover:underline md:mr-6">Politique de confidentialité</a>
			</li>
		</ul>
		<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025
			<a class="hover:underline">Stellara™</a>.
			<br>
			<br>
			Site web réalisé avec 💖 par
			<a href="https://jeremiecode.fr">SnapCode™ Agency</a>
			• All Rights Reserved.
		</span>
	</div>
</footer>
